/* All */
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}

/* Header */
header h1{
    padding: 15px 25px 0px 25px;
    color: steelblue;
}
header h3{
    margin-top: -50px;
    padding: 15px 25px 15px 25px;
}

/* Main */
.titles{
    padding-left: 5%;
    transition: .8s;
}
.titles:hover{
    color: steelblue;
    text-shadow: 10px 20px black;
}
/* Education */
.edu .experience{
    background-color: rgb(233, 233, 233);
    border-radius: 25px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    transition: .8s;
}
.edu .experience:hover{
    box-shadow: 5px 5px black;
    background-color: rgb(26, 88, 139);
    color: white;
}
.edu .experience h2{
    margin: 0;
}
.edu .experience .location{
    display: flex;
    justify-content: space-between;
}
.edu .experience .location p{
    margin: 0;
}
.edu ul{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Proffessional */
.cards ul{
    border-radius: 25px;
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    grid-auto-rows: 400px;
    gap: 20px;
}
.cards ul li{
    background-color: transparent;
    perspective: 1000px;
}
.cards ul li .inner .front{
    background-color: rgb(158, 214, 233);
    height: 360px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards ul li .inner .front .upper h3{
    padding: 0;
    margin: 0;
}
.cards ul li .inner .front .upper h4{
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
/* Flipping! */
.inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 3px 3px;
    border: 1px solid black;
    border-radius: 25px;
}
.cards ul li:hover .inner{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    height: 100%;
    backface-visibility: hidden;

    border-radius: 25px;
}
.cards ul li .inner .back{
    background-color: rgb(26, 88, 139);
    width: 100%;
    color: white;
    transform: rotateY(180deg);
}
.back h5{
    text-align: center;
    margin: 5px;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}
.back p{
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: smaller;

    background-color: aliceblue;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    padding: 5px;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}
